*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(223, 222, 222);
}

/* 1-sahifa welcom to telegram */


.sayt{
    width: 375px;
    height: 100vh;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
}
header .navbar1{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 14px 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .navbar2{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 14px 21px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .navbar2 .Cancel{
    color: #007AFF;
    font-size: 18px;
    font-weight: normal;
}
header .navbar2 .Next{
    color: #007AFF;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
}
.Your_Phone{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 17px;

}

.Your_Phone h1{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 17px;
}

.Your_Phone h3{
    width: 90%;
    margin: auto;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 44px;
}
.form{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.form select{
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    outline: none;
    border: none;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    box-sizing: border-box;
    padding: 15px 19px;
}
.form_number{
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 14.5px;
}
.form .form_number .country_code{
    width: 10%;
    padding: 15px 19px;
    font-size: 20px;
    border: none;
    outline: none;
    border-right:1px solid #D8D8D8 ;
}
.form .form_number .country_number{
    width: 75%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    border: none;
    outline: none;
}

.form .country_number::placeholder{
   opacity: 30%;
}

/* 2-sahifa verfication code telegram */

.sayt2{
    width: 375px;
    height: 100vh;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
    display: none;
}

header .navbar1_2{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 14px 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .navbar2_2{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 14px 21px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .navbar2_2 .back{
    color: #007AFF;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}
header .navbar2_2 .Next{
    color: #007AFF;
    font-size: 18px;
    font-weight: 600px;
}
.Your_Phone_2{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 17px;

}

/* .Your_Phone_2 h1{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 17px;
} */

.Your_Phone_2_message_cion{
    width: 70px;
    margin-bottom: 20px;
}

.Your_Phone_2 h3{
    width: 90%;
    margin: auto;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 44px;
}

.verfication{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verfication .verfication_code_input{
    width: 40%;
    padding: 15px 19px;
    font-size: 20px;
    border:1px solid #D8D8D8;
    border-radius: 10px;
    outline: none;
}
.verfication .Chek{
    width: 30%;
    background-color: #007AFF;
    padding-top: 10px;
    padding-bottom: 10px;
    border:1px solid #D8D8D8;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}


.verfication_code_error{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: red;
}

/* 3-page */

.sayt3{
    width: 375px;
    height: 100vh;
    margin: auto;
    background-color: white;
    padding-bottom: 20px;
    display: none;
}
.sayt3 img{
    width: 100%;
}


.display_blok{
    display: block;
}
.display_none{
    display: none;
}